Import the required libraries and modules that you would need.

In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.utils import resample

Read that data into Python and call the dataframe churnData.

In [2]:
churnData = pd.read_csv('./files_for_lab/Customer-Churn.csv')

In [3]:
churnData.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No
1,Male,0,No,No,34,Yes,Yes,No,Yes,No,No,No,One year,56.95,1889.5,No
2,Male,0,No,No,2,Yes,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes
3,Male,0,No,No,45,No,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes

Check the datatypes of all the columns in the data. You would see that the column TotalCharges is object type. Convert this column into numeric type using pd.to_numeric function.

In [4]:
churnData.dtypes

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [5]:
churnData['TotalCharges'] = pd.to_numeric(churnData['TotalCharges'], errors = 'coerce')

Check for null values in the dataframe. Replace the null values.

In [6]:
churnData.isna().sum()/len(churnData)*100

gender              0.000000
SeniorCitizen       0.000000
Partner             0.000000
Dependents          0.000000
tenure              0.000000
PhoneService        0.000000
OnlineSecurity      0.000000
OnlineBackup        0.000000
DeviceProtection    0.000000
TechSupport         0.000000
StreamingTV         0.000000
StreamingMovies     0.000000
Contract            0.000000
MonthlyCharges      0.000000
TotalCharges        0.156183
Churn               0.000000
dtype: float64

In [7]:
churnData[churnData['TotalCharges'].isna()]

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
488,Female,0,Yes,Yes,0,No,Yes,No,Yes,Yes,Yes,No,Two year,52.55,NaN,No
753,Male,0,No,Yes,0,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,20.25,NaN,No
936,Female,0,Yes,Yes,0,Yes,Yes,Yes,Yes,No,Yes,Yes,Two year,80.85,NaN,No
1082,Male,0,Yes,Yes,0,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,25.75,NaN,No
1340,Female,0,Yes,Yes,0,No,Yes,Yes,Yes,Yes,Yes,No,Two year,56.05,NaN,No
3331,Male,0,Yes,Yes,0,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,19.85,NaN,No
3826,Male,0,Yes,Yes,0,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,25.35,NaN,No
4380,Female,0,Yes,Yes,0,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,20.00,NaN,No
5218,Male,0,Yes,Yes,0,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,19.70,NaN,No
6670,Female,0,Yes,Yes,0,Yes,No,Yes,Yes,Yes,Yes,No,Two year,73.35,NaN,No
6754,Male,0,No,Yes,0,Yes,Yes,Yes,No,Yes,No,No,Two year,61.90,NaN,No

In [8]:
churnData['TotalCharges'].fillna(0, inplace = True)

Use the following features: tenure, SeniorCitizen, MonthlyCharges and TotalCharges:
- Scale the features either by using normalizer or a standard scaler.

In [9]:
churn_num = churnData.select_dtypes(include = np.number)
churn_cat = churnData.select_dtypes(include = object)

In [10]:
scaler = MinMaxScaler()
numerical_scaled = scaler.fit_transform(churn_num)
numerical_scaled = pd.DataFrame(numerical_scaled, columns = churn_num.columns)
numerical_scaled

      SeniorCitizen    tenure  MonthlyCharges  TotalCharges
0               0.0  0.013889        0.115423      0.003437
1               0.0  0.472222        0.385075      0.217564
2               0.0  0.027778        0.354229      0.012453
3               0.0  0.625000        0.239303      0.211951
4               0.0  0.027778        0.521891      0.017462
...             ...       ...             ...           ...
7038            0.0  0.333333        0.662189      0.229194
7039            0.0  1.000000        0.845274      0.847792
7040            0.0  0.152778        0.112935      0.039892
7041            1.0  0.055556        0.558706      0.035303
7042            0.0  0.916667        0.869652      0.788101

[7043 rows x 4 columns]

- Split the data into a training set and a test set.

In [11]:
X = numerical_scaled
y = churnData['Churn']
X_train, X_test, y_train, y_test = train_test_split(X,y)

- Fit a logistic regression model on the training data.

In [12]:
LR = LogisticRegression(random_state=0, solver='lbfgs')
LR.fit(X_train, y_train)

LogisticRegression(random_state=0)

- Check the accuracy on the test data.

In [13]:
print('accuracy:', LR.score(X_train, y_train))
og_accuracy= LR.score(X_train, y_train)

accuracy: 0.7864445285876562

Check for the imbalance.

In [14]:
churnData['Churn'].value_counts()

No     5174
Yes    1869
Name: Churn, dtype: int64

Use the resampling strategies used in class for upsampling and downsampling to create a balance between the two classes.

In [15]:
churn = pd.concat([X, y], axis = 1)
churn

      SeniorCitizen    tenure  MonthlyCharges  TotalCharges Churn
0               0.0  0.013889        0.115423      0.003437    No
1               0.0  0.472222        0.385075      0.217564    No
2               0.0  0.027778        0.354229      0.012453   Yes
3               0.0  0.625000        0.239303      0.211951    No
4               0.0  0.027778        0.521891      0.017462   Yes
...             ...       ...             ...           ...   ...
7038            0.0  0.333333        0.662189      0.229194    No
7039            0.0  1.000000        0.845274      0.847792    No
7040            0.0  0.152778        0.112935      0.039892    No
7041            1.0  0.055556        0.558706      0.035303   Yes
7042            0.0  0.916667        0.869652      0.788101    No

[7043 rows x 5 columns]

In [16]:
category_0 = churn[churn['Churn'] == 'No']
category_1 = churn[churn['Churn'] == 'Yes']

In [17]:
category_0_undersampled = resample(category_0, 
                              replace=False, 
                              n_samples = len(category_1))

In [18]:
print(category_0_undersampled.shape)
print(category_1.shape)

(1869, 5)
(1869, 5)

In [19]:
data_downsampled = pd.concat([category_0_undersampled, category_1], axis=0)

In [20]:
data_downsampled['Churn'].value_counts()

No     1869
Yes    1869
Name: Churn, dtype: int64

In [21]:
X = data_downsampled.drop('Churn', axis = 1)
y = data_downsampled['Churn']
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [22]:
LR = LogisticRegression(random_state=0, solver='lbfgs')
LR.fit(X_train, y_train)

LogisticRegression(random_state=0)

In [23]:
print('downsampled accuracy:', LR.score(X_train, y_train))
d_accuracy = LR.score(X_train, y_train)

downsampled accuracy: 0.7327863003924366

In [24]:
category_1_oversampled = resample(category_1, 
                                  replace=True, 
                                  n_samples = len(category_0))

In [25]:
print(category_0.shape)
print(category_1_oversampled.shape)

(5174, 5)
(5174, 5)

In [26]:
data_upsampled = pd.concat([category_0, category_1_oversampled], axis=0)

In [27]:
data_upsampled['Churn'].value_counts()

No     5174
Yes    5174
Name: Churn, dtype: int64

In [28]:
X = data_upsampled.drop('Churn', axis = 1)
y = data_upsampled['Churn']
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [29]:
LR = LogisticRegression(random_state=0, solver='lbfgs')
LR.fit(X_train, y_train)

LogisticRegression(random_state=0)

In [30]:
print('upsampled accuracy:', LR.score(X_train, y_train))
u_accuracy = LR.score(X_train, y_train)

upsampled accuracy: 0.7222007473263755

In [33]:
model = ['original', 'uppsampled', 'downsampled']
accuracy = [og_accuracy, u_accuracy, d_accuracy]
accuracy = pd.DataFrame([accuracy], columns = model).T
accuracy.columns = ['accuracy score']
accuracy

             accuracy score
original           0.786445
uppsampled         0.722201
downsampled        0.732786